:root {
  --primary-color: #0f0e17;
  --secondary-color: #f25f4c;
  --tertiary-color: #e53170;
  --accent-color: #ff8906;
  --main-color: #fffffe;
  --paragraph-color: #2e2f3e;
  --paragraph-2-color: #a7a9be;
  --font-body: "Dosis", sans-serif;
  --font-title: "Open Sans", sans-serif;
  --max-width: 1100px;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font: normal 1rem/1.5 var(--font-body);
  letter-spacing: 1px;
  background: var(--primary-color);
  color: var(--main-color);
  overflow-x: hidden;
  padding-bottom: 50px;
}

.main-header {
  background: var(--primary-color);
  color: var(--paragraph-2-color);
  padding: 4rem 0;
  border-bottom: 8px solid var(--accent-color);
  position: fixed;
  width: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  text-align: center;
}

.fa-brain,
.fa-user-tie {
  color: var(--secondary-color);
}

.fa-star-of-life {
  color: var(--accent-color);
  transition: all 1s ease-in-out;
}

h1 {
  font-size: 2.3rem;
}

h1,
h3 {
  font-family: var(--font-title);
  padding-bottom: 0.5rem;
}

#timeline > ul {
  background: var(--primary-color);
  padding: 250px 0 40px 0;
}

p ~ ul {
  margin-top: 1rem;
  padding-left: 1rem;
}

/* Create Line */
#timeline > ul > li {
  list-style: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: var(--main-color);
  border-radius: 2px;
}

/* Boxes */
#timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 1rem;
  background: var(--main-color);
  color: var(--paragraph-color);
  transition: all 1s ease-in-out;
  border-radius: 2px;
  visibility: hidden;
  opacity: 0;
}

/* Right Side */
#timeline ul li:nth-child(odd) div {
  left: 40px;
  transform: translateX(200px);
}

/* Left Side */
#timeline ul li:nth-child(even) div {
  left: -434px;
  transform: translateX(-200px);
}

/* Dots */
#timeline > ul > li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 25px;
  height: 25px;
  background: inherit;
  border-radius: 50%;
  transform: translateX(-50%);
  transition: background 1s ease-in-out;
}

/* Arrows Base */
#timeline div:before {
  content: "";
  position: absolute;
  bottom: 5px;
  width: 0;
  height: 0;
  border-style: solid;
}

/* Right Side Arrows */
#timeline ul li:nth-child(odd) div:before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent var(--main-color) transparent transparent;
}

/* Left Side Arrows */
#timeline ul li:nth-child(even) div:before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent var(--main-color);
}

/* Show Boxes */
#timeline ul li.show div {
  transform: none;
  visibility: visible;
  opacity: 1;
}
#timeline ul li.show:after {
  background: var(--secondary-color);
}

#timeline ul li.show div .fa-star-of-life {
  transform: rotateZ(900deg);
}

/* Media queries */
@media (max-width: 900px) {
  #timeline ul li div {
    width: 280px;
  }
  #timeline ul li:nth-child(even) div {
    left: -284px;
  }
}

@media (max-width: 600px) {
  #timeline > ul > li {
    margin-left: 20px;
  }
  #timeline ul li div {
    width: calc(100vw - 90px);
  }

  #timeline ul li:nth-child(even) div {
    left: 40px;
  }

  #timeline ul li:nth-child(even) div:before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent var(--main-color) transparent transparent;
  }

  h1 {
    font-size: 1.4rem;
  }

  h3 .fa-user-tie {
    font-size: 1.6rem;
  }
}

@media (max-width: 450px) {
  .main-header {
    height: 15vh;
  }

  #timeline > ul {
    padding-top: 150px;
  }

  #timeline div ul {
    display: none;
  }
}

@media (max-height: 450px) {
  .main-header {
    height: 100vh;
    position: unset;
    display: flex;
    align-items: center;
  }

  #timeline > ul {
    padding-top: 34px;
  }

  #timeline div ul,
  #timeline div p {
    display: none;
  }
}
